
<!--SE TIVER LOGADO EXIBIRAR ESSA PARTE-->
<aside class="probootstrap-aside js-probootstrap-aside" *ngIf="aux; else elseBlock">
    <a href="#" class="probootstrap-close-menu js-probootstrap-close-menu d-md-none"><span class="oi oi-arrow-left"></span> Fechar</a>
    <div class="probootstrap-site-logo probootstrap-animate"  style="background-color: #F4FBFF" data-animate-effect="fadeInLeft">
    
    <a href="#" class="mb-2 d-block probootstrap-logo">Navegação Logado</a>
    <p class="mb-0">Aproveite nossos serviços!<a href="#" target="_blank"> uiCookies</a></p>
    </div>
    <div class="probootstrap-overflow">
    <nav class="probootstrap-nav">
        <ul>
        <li class="probootstrap-animate active" data-animate-effect="fadeInLeft"><a href="#" [routerLink]="['/home']">Home</a></li>
        <li class="probootstrap-animate" data-animate-effect="fadeInLeft"><a href="#" [routerLink]="['/sobre']">Sobre</a></li>
        <li class="probootstrap-animate" data-animate-effect="fadeInLeft"><a href="#" [routerLink]="['/favoritos']">Favoritos</a></li>
        <li class="probootstrap-animate" data-animate-effect="fadeInLeft"><a href="#" [routerLink]="['/login']">Login</a></li>
        <li class="probootstrap-animate" data-animate-effect="fadeInLeft"><a href="#" [routerLink]="['/register']">Register</a></li>
        <li class="probootstrap-animate" data-animate-effect="fadeInLeft"><a href="#" [routerLink]="['/contato']">Contato</a></li>
        </ul>
    </nav>
    <footer class="probootstrap-aside-footer probootstrap-animate"  style="background-color: #F4FBFF" data-animate-effect="fadeInLeft">
        <ul class="list-unstyled d-flex probootstrap-aside-social">
        <li><a href="#" class="p-2"><span class="icon-twitter"></span></a></li>
        <li><a href="#" class="p-2"><span class="icon-instagram"></span></a></li>
        <li><a href="#" class="p-2"><span class="icon-dribbble"></span></a></li>
        </ul>
        <p>&copy; 2020 <a href="#" target="_blank">ricardotcu10@gmail.com</a>. <br> todos os direitos reservados.</p>
    </footer>
    </div>
</aside>

<!--SE TIVER DESLOGADO EXIBIRAR ESSA PARTE-->
<ng-template class="probootstrap-aside js-probootstrap-aside" #elseBlock>
  <a href="#" class="probootstrap-close-menu js-probootstrap-close-menu d-md-none"><span class="oi oi-arrow-left"></span> Fechar</a>
  <div class="probootstrap-site-logo probootstrap-animate"  style="background-color: #F4FBFF" data-animate-effect="fadeInLeft">
  
  <a href="#" class="mb-2 d-block probootstrap-logo">Navegação Deslogado</a>
  <p class="mb-0">Aproveite nossos serviços!<a href="#" target="_blank"> uiCookies</a></p>
  </div>
  <div class="probootstrap-overflow">
  <nav class="probootstrap-nav">
      <ul>
        <li class="probootstrap-animate active" data-animate-effect="fadeInLeft"><a href="#" [routerLink]="['/home']">Home</a></li>
        <li class="probootstrap-animate" data-animate-effect="fadeInLeft"><a href="#" [routerLink]="['/sobre']">Sobre</a></li>
        <li class="probootstrap-animate" data-animate-effect="fadeInLeft"><a href="#" [routerLink]="['/favoritos']">Favoritos</a></li>
        <li class="probootstrap-animate" data-animate-effect="fadeInLeft"><a href="#" [routerLink]="['/login']">Login</a></li>
        <li class="probootstrap-animate" data-animate-effect="fadeInLeft"><a href="#" [routerLink]="['/register']">Register</a></li>
        <li class="probootstrap-animate" data-animate-effect="fadeInLeft"><a href="#" [routerLink]="['/contato']">Contato</a></li>
        <li class="probootstrap-animate" data-animate-effect="fadeInLeft"><button click="deslogar()">deslogar</button></li>
      </ul>
  </nav>
  <footer class="probootstrap-aside-footer probootstrap-animate"  style="background-color: #F4FBFF" data-animate-effect="fadeInLeft">
      <ul class="list-unstyled d-flex probootstrap-aside-social">
      <li><a href="#" class="p-2"><span class="icon-twitter"></span></a></li>
      <li><a href="#" class="p-2"><span class="icon-instagram"></span></a></li>
      <li><a href="#" class="p-2"><span class="icon-dribbble"></span></a></li>
      </ul>
      <p>&copy; 2020 <a href="#" target="_blank">ricardotcu10@gmail.com</a>. <br> todos os direitos reservados.</p>
  </footer>
  </div>
</ng-template>

<main role="main" class="probootstrap-main js-probootstrap-main">
    <div class="probootstrap-bar">
    <a href="#" class="probootstrap-toggle js-probootstrap-toggle"><span class="oi oi-menu"></span></a>
    <div class="probootstrap-main-site-logo"><a href="index.html">Imagens</a></div>
    </div>
    <div class="card-columns">
    <div class="card img-loaded" *ngFor="let r of resumo">
        <a href="#">
        <img class="card-img-top probootstrap-animate fadeInUp probootstrap-animated" src={{r.caminho}} alt="Card image cap">
        </a>
    </div>
    </div>  
    <div class="container-fluid d-md-none">
    <div class="row">
        <div class="col-md-12">
        <ul class="list-unstyled d-flex probootstrap-aside-social">
            <li><a href="#" class="p-2"><span class="icon-twitter"></span></a></li>
            <li><a href="#" class="p-2"><span class="icon-instagram"></span></a></li>
            <li><a href="#" class="p-2"><span class="icon-dribbble"></span></a></li>
        </ul>
        <p>&copy; 2020 <a href="#" target="_blank">ricardotcu10@gmail.com</a>. <br> todos os direitos reservados.</p>
        </div>
    </div>
    </div>
</main>
  