
<!--SE TIVER LOGADO EXIBIRAR ESSA PARTE-->
<div class="row">
	<div class="col-md-3" style="height: 100vh;">
        <div class=""  style="background-color: #F4FBFF" data-animate-effect="fadeInLeft">
        
        <a href="#" class="mb-2 d-block">Navegação</a>
        <p class="mb-0">Aproveite nossos serviços!<a href="#" target="_blank"> uiCookies</a></p>
        </div>
        <div class="">
            <nav class="">
                <ul>
                <li class="active" data-animate-effect="fadeInLeft"><a href="#" [routerLink]="['/home']">Home</a></li>
                <li class="" data-animate-effect="fadeInLeft"><a href="#" [routerLink]="['/sobre']">Sobre</a></li>
                <li class="" data-animate-effect="fadeInLeft"><a href="#" [routerLink]="['/favoritos']">Favoritos</a></li>
                <li class="" data-animate-effect="fadeInLeft"><a href="#" [routerLink]="['/login']">Login</a></li>
                <li class="" data-animate-effect="fadeInLeft"><a href="#" [routerLink]="['/register']">Register</a></li>
                <li class="" data-animate-effect="fadeInLeft"><a href="#" [routerLink]="['/contato']">Contato</a></li>
                <li class="" data-animate-effect="fadeInLeft"><button (click)="deslogar()">deslogar</button></li>
                </ul>
            </nav>
            <footer class=""  style="background-color: #F4FBFF" data-animate-effect="fadeInLeft">
                <ul class="d-flex ">
                <li><a href="#" class="p-2"><span class="icon-twitter"></span></a></li>
                <li><a href="#" class="p-2"><span class="icon-instagram"></span></a></li>
                <li><a href="#" class="p-2"><span class="icon-dribbble"></span></a></li>
                </ul>
                <p>&copy; 2020 <a href="#" target="_blank">ricardotcu10@gmail.com</a>. <br> todos os direitos reservados.</p>
            </footer>
        </div>
	</div>


    <div class="col-md-9">
        <div class="card-columns">
            <div class="card img-loaded" *ngFor="let r of resumo">
                <a href="#">
                <img class="card-img-top probootstrap-animate fadeInUp probootstrap-animated" src={{r.caminho}} alt="Card image cap">
                </a>
            </div>
        </div>  
        <div class="container-fluid d-md-none">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-unstyled d-flex probootstrap-aside-social">
                        <li><a href="#" class="p-2"><span class="icon-twitter"></span></a></li>
                        <li><a href="#" class="p-2"><span class="icon-instagram"></span></a></li>
                        <li><a href="#" class="p-2"><span class="icon-dribbble"></span></a></li>
                    </ul>
                    <p>&copy; 2020 <a href="#" target="_blank">ricardotcu10@gmail.com</a>. <br> todos os direitos reservados.</p>
                </div>
            </div>
        </div>
    </div>
</div>
  